.chapters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .chapter {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px; /* Taille réduite pour les chapitres */
    box-sizing: border-box;
    cursor: pointer; /* Ajoute un curseur pointer pour indiquer que c'est cliquable */
  }
  
  .chapter p {
    margin: 0 0 5px 0;
    font-size: 12px; /* Taille réduite du texte */
  }
  
  .chapter-input {
    width: 100%;
    padding: 5px;
    font-size: 12px; /* Taille réduite du champ de commentaire */
  }

  .posts-list {
    padding: 20px;
  }
  
  .post-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px));
    gap: 20px;
  }
  
  .post-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
   
  .post-card:hover {
    background-color: #e0e0e0;
  }
  
  .post-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .post-card p {
    font-size: 14px;
    color: #666;
  }
  
  